name: docker-ci-pipeline
 
on: push
 
jobs:
  dockerci-job:
 
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6
 
      - name: Build image
        run: docker build -t ${{ vars.DOCKERDEMO1 }}/rashi_docker_image:v1 .
        
      - name: verify image
        run: docker images
 
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKERDEMO1 }}
          password: ${{ secrets.DOCKER_TOKEN }}
 
      - name: push image
        run: docker push ${{ vars.DOCKERDEMO1 }}/rashi_docker_image:v1
 
    

        
